<html>
  <head>
    <title>Welcome to Instafeed</title>    
    <script type="text/javascript" src="http://code.jquery.com/jquery.js"></script>
    <script type="text/javascript" src="js/masonry.pkgd.js"></script>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap.min.css">
    <link href="css/ionicons.css" rel="stylesheet" >
    <link href='http://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>
    <link href="css/custom.css" rel="stylesheet" >
  </head>
  <body>

    <!-- Sidebar -->
    <div id="left-sidebar">
      <h1 id="logo">Granit</h1>
      <input id="search" type="search" placeholder="search hashtags"></input>
      <div>
        <p><h4>Popular hashtags:</h4></p>
        <ul>
          <li><a href="#">#5Chackathon</a></li>
          <li><a href="#">#LasVegasStrip</a></li>
          <li><a href="#">#MonkeyButts</a></li>
          <li><a href="#">#IceCream</a></li>
          <li><a href="#">#Sean</a></li>
        </ul>
        <div class="ion-social-facebook share"></div>
        <div class="ion-social-twitter share"></div>
      </div>
    </div>

    <!-- Feed -->
    <div class="feed">
    </div>

    <!-- Image modal -->
    <div class="modal fade" id="img-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      
        <div class="modal-content">
          <div class="modal-body">
            image
          </div>
          <div class="modal-footer">
            Username
            </br>
            Status
            </br>
            Hashtag 
          </div>
        </div>
      
    </div>
    
    <script type="text/javascript" src="js/img.js"></script>
    <script type="text/javascript" src="js/feed.js"></script>
    <script type="text/javascript" src="js/bootstrap.js"></script>
  </body>
</html>

