<html>
  <head>
    <title>Welcome to exposu.re</title>    
    <script type="text/javascript" src="http://code.jquery.com/jquery.js"></script>
    <script type="text/javascript" src="js/masonry.pkgd.js"></script>
    <script type="text/javascript" src="js/sticky.js"></script>

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap.min.css">
    <link href="css/ionicons.css" rel="stylesheet" >
    <link href='http://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>
    <link href="css/custom.css" rel="stylesheet" >
  </head>
  <body>

    <div id="curtain">
      <div id="titlewrap">
        <h1 id="title">exsposu.re</h1>      
      </div>
    </div>
    <div class="search" id="sticky">
      <div id="searchwrap">
        <input id="searchbar" type="text" value="lasvegasstrip">      
      </div>
    </div>

    <!-- Feed -->
    <div class="feed">
    </div>

    <!-- Image modal -->
    <div class="modal fade" id="img-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">          
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>            
        </div>
        <div class="modal-content">
          <div class="modal-body">                      
          </div>
          <div class="modal-footer">
            Username
            </br>
            Status
            </br>
            Hashtag 
          </div>
        </div>      
    </div>
    
    <script type="text/javascript" src="js/img.js"></script>
    <script type="text/javascript" src="js/feed.js"></script>
    <script type="text/javascript" src="js/bootstrap.js"></script>
  </body>
</html>

