<html>
  <head>
    <title>Welcome to Instafeed</title>    
    <script type="text/javascript" src="http://code.jquery.com/jquery.js"></script>
    <script type="text/javascript" src="js/masonry.pkgd.js"></script>
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap.min.css">
    <link href="css/ionicons.css" rel="stylesheet" >
    <link href="css/custom.css" rel="stylesheet" >
  </head>
  <body>
    <div id="left-sidebar">
      <h1 id="logo">Granit</h1>
      <input id="search" type="search" value="search tags"></input>
      <div>
        <h3>Popular Hashtags:</h3>
        <ul>
          <li><a href="#">#5Chackathon</a></li>
          <li><a href="#">#LasVegasStrip</a></li>
          <li><a href="#">#MonkeyButts</a></li>
          <li><a href="#">#IceCream</a></li>
          <li><a href="#">#Sean</a></li>
        </ul>
      </div>
    </div>
    <div class="feed">
      <div class="img" style="background: url('/img/hack.png'); position: relative; width: 400px; height: 400px;">
        <div class="img-layer" style= "display:none; position: absolute; top: 0; left: 0; width: 400px; height: 400px; background-color: #666565; opacity:0.5; font-size: 60px;" > 
          <div class="icon ion-minus-circled" style="position: relative; left: 15%; top: 70%;"> </div>   
          <div class="icon ion-ios7-plus" style="position: relative; left: 55%; top: 70%;"> </div>                    
        </div>
      </div>
    </div>
    <script type="text/javascript" src="js/img.js"></script>
    <script type="text/javascript" src="js/feed.js"></script>
  </body>
</html>

