<html>
  <head>
    <title>Welcome to Instafeed</title>    
    <script type="text/javascript" src="http://code.jquery.com/jquery.js"></script>
    <script type="text/javascript" src="../public/js/masonry.pkgd.js"></script>
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap.min.css">
    <link href="css/ionicons.css" rel="stylesheet" >
    <link href="css/custom.css" rel="stylesheet" >
  </head>
  <body>
  	<div class="img">
      <div class="img-layer"> 
        <div class="icon ion-minus-circled"> </div>   
        <div class="icon ion-ios7-plus"> </div>                    
      </div>
	  </div>
    <script type="text/javascript" src="js/img.js"></script>
  </body>
</html>

