* {
  -webkit-font-smoothing: antialiased;
}

body {  
  margin: 0;
  font-family: 'PT Sans', sans-serif;
  background-image: url('../img/satinweave.png');
}

h1 {
  margin-top:0;
}

#img-modal {
}
  
.share {
  font-size: 24;
}

#curtain{
  height: 500px;
  width: 100%;
  background-image: url('../img/bridge.png');
}

#titlewrap{
  margin: auto;
  width: 565px;
  height: 266px;
}

#title{
  font-family: "PT Sans", sans-serif;
  padding-top: 100px;
  font-size: 120px;
  color: white;
}

.ion-search {
  position: absolute;
  z-index: 5;
  margin-top: 11px;
  font-size: 30px;
  margin-left: 10px;
}

.search{
  z-index:100;
  width: 100%;
}

#searchwrap{
  padding-top:15px;
  width: 500px;
  margin: auto;
}

#searchbar{
  z-index:100;

  border:none;
  color: hsl(358,61%,42%);
  font-family: "Lato",Helvetica,sans-serif;
  font-weight: 900;
  font-size:24px;
  line-height:20px;
  text-shadow:1px 1px 0 white;
  width:490px;
  padding: 10px;
  border-radius: 3px;
  background-color: #efefef;
  padding-left: 43px;
}

.modal {
  padding: 0;
}

#img-modal {  
  margin: auto;  
  width: 645px;
  height: 800px;
}

.close {
  color: black;
  position: relative;
  top: 20px;
  z-index: 5;
  left: 5;
}
  
.share {
  font-size: 24;
}


.feed {
  position: absolute;
  min-width: 1200px;
  color: white;
}

.img {
  position: relative;
  margin: 0;
  box-shadow: 0px 1px 1px 1px #ccc;
  float: left;
} 

.img-layer {      
  display:none;
  position: relative;
  background-color: #666565;
  opacity:0.5; 
  font-size: 60px; 
  color: white;
}

.icon.ion-ios7-plus {
  position: relative;
  left: 55%;
  top: 70%;
}


.icon.ion-minus-circled {
  position: relative;
  left: 15%;
  top: 70%;
}

.modal-header {
  border-bottom: none;
}

.modal-footer {
  border-top: none;
}

